<?xml version="1.0"?>
<launch>
  <arg name="robot"/>
  <arg name="use_sim_time" default="true" />
  <!-- Load the robot description -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find schaeffler_robot_urdf)/urdf/robot.urdf.xacro" />
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" output="screen" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find schaeffler_robot_urdf)/config/view_agv.rviz" />
  <!-- <node name="gazebo_gui" pkg="gazebo_gui" type="gazebo_gui" output="screen" /> -->
</launch>
